/* App.css */

body {
  background-color: #fdf9ff;
}

.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.app-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: teal;
}

.skill-tree {
  list-style-type: none;
  padding-left: 20px;
}

.skill-node {
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(9, 30, 66, 0.25);
}

.skill-node > strong {
  font-weight: bold;
  margin-bottom: 5px;
  color: teal;
}

.skill-node > p {
  margin: 0;
  color: teal;
}

.skill-node ul {
  padding-left: 20px;
}

.skill-node:last-child {
  margin-bottom: 0;
}
